<div class="row">
<% if signed_in? %>
  <div id="sidebar-wrapper" class="col-xs-12 col-md-1">
    <%= render 'shared/sidebar' %>
  </div>
  <div id="main-wrapper" class="col-xs-12 col-md-11 pull-right">
    <%= render 'feed' %>
  </div>
<% else %>
  <div id="main-wrapper" class="col-xs-11">
    <%= render 'feed' %>
  </div>
<% end %>
</div>

<script>

var count = 8

function updates() {
  $.ajax({
          type: "POST",
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          url: "/groups/<%= @group.id %>/since",
          data: { "group": {} },
      success: function(data) {      
        return false;
      },
      error: function(data) {
        return false;
      }
    });
}

function infinite() {

    if (element_in_scroll($(".endmarker"))) {
            $(document).unbind('scroll');
            $.ajax({
                type: "POST",
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                url: "/groups/<%= @group.id %>/infinite",
                data: { "group": {"start":""+count} }, 
                success: function(data) {    
                  count += 8  
                  return false;
                }
            });
        };
}



function element_in_scroll(elem)
{
    var docViewTop = $(window).scrollTop();
    var docViewBottom = docViewTop + $(window).height();
 
    var elemTop = $(elem).offset().top;
    var elemBottom = elemTop + $(elem).height();
 
    return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
}

$(document).ready(function() {

    $(document).scroll(function(e){
      if (element_in_scroll($(".endmarker"))) {
        e.stopImmediatePropagation();
                infinite();       
        };
    });


    setInterval("updates()", 1000); 

    $(".confirmSocial").click(function() {
      $($(this).data('target')).modal('hide');
      var media = $($(this).data('target')).find('.socialPreview').html();
      if(media != "") {
        $("#post_media").val(media);
        $("#post_media_type").val("5")
      }
    });

    $("#twitterButton").click(function() {$("#twitterModal").modal();return false;});
    $("#instagramButton").click(function() {$("#instagramModal").modal();return false;});
    $("#facebookButton").click(function() {$("#facebookModal").modal();return false;});
    $("#uploadButton").click(function() {$("#uploadModal").modal();return false;});

    $("#twitterPreviewButton").click(function() {
      $("#previewTweet").html('<blockquote class="twitter-tweet" lang="en"><a href="' + $("#twitterInput").val() + '">March 10, 2014</a></blockquote>');
      $.getScript("//platform.twitter.com/widgets.js");
    });
    $("#instagramPreviewButton").click(function() {
      var match = /(instagram\.com\/p\/\w{10})/.exec($("#instagramInput").val());
      if(match) {
        $("#previewInstagram").html('<iframe src="//' + match[0] + '/embed/" width="490" height="568" frameborder="0" scrolling="no" allowtransparency="true"></iframe>');
      } else {
        $("#previewInstagram").html('<div class="alert alert-warning">Uh-oh, please check your URL!</div>');
      }
    });
    $("#facebookPreviewButton").click(function() {
      var match = /(<div id.+<\/div><\/div>)/.exec($("#facebookInput").val());
      if(match) {
        $("#previewFacebook").html(match[0]);
      } else {
        $("#previewFacebook").html('<div class="alert alert-warning">Uh-oh, please check your URL!</div>');
      }
    });


});
</script>

<!-- Show feed -->
<!-- Post box -->