<p id="notice"><%= notice %></p>
<div class="row">

<div class="col-xs-12 col-sm-3 pull-right">
  <div class="jumbotron">
    <h3><%= @group.name %></h3>
    <p>Group description</p>

    <div class="stats">
      <a href="<%= @group %>">
        <strong id="following" class="stat">
          <%= @group.users.count %>
        </strong>
        users
      </a>
      <a href="<%= @group %>">
        <strong id="followers" class="stat">
          <%= @group.posts.count %>
        </strong>
        posts
      </a>
    </div>

    <%= render 'follow_form' if signed_in? %>
  </div>
  <div class="well"> 
             <%= form_for(@post, :html => {:class => 'form-horizontal'}) do |f| %>
              <h4>What's New</h4>
               <div class="form-group" style="padding:14px;">
                <%= f.text_area :content, :class => "form-control", placeholder: "Post to " + @group.name %>
              </div>
              <%= f.hidden_field :group_id, :value => @group.id %>
              <%= f.hidden_field :media, :value => "" %>
              <%= f.hidden_field :media_type, :value => "0" %>
              <%= content_tag :button, :type => :submit, :class => "btn btn-success pull-right" do %>
              Post
              <% end %>
               <ul class="list-inline">
                <li id="twitterButton"><a href="#"><%= image_tag 'glyphs/twitter.png', :class => "glyph" %></i></a></li>
                <li id="instagramButton"><a href="#"><%= image_tag 'glyphs/instagram.png', :class => "glyph" %></a></li>
                <li id="facebookButton"><a href="#"><%= image_tag 'glyphs/facebook.png', :class => "glyph" %></i></a></li>
                <li id="uploadButton"><a href="#"><i class="glyphicon glyphicon-upload glyph"></i></a></li>
              </ul>
            <% end %>
    </div>
</div>


<div class="col-xs-12 col-sm-9">
  <div class="row">
    <div id="contentcol1" class="col-md-6 col-sm-6">
      <% @group.posts.first(4).each do |post| %>
          <%= render post %> 
      <% end %>
    </div>
    <div id="contentcol2" class="col-md-6 col-sm-6">
    <% @group.posts.drop(4).first(4).each do |post| %>
          <%= render post %> 
      <% end %>
    </div>
</div>
<div class="endmarker"></div>
</div>

<div class="modal fade" id="twitterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Embed a Tweet</h4>
      </div>
      <div class="modal-body">
              <h4>Copy and paste the URL of the Tweet you would like to share:</h4>
              <div class="input-group text-center">
              <input id="twitterInput" type="text" class="form-control input-lg" placeholder="Enter your URL address">
                <span class="input-group-btn"><button id="twitterPreviewButton" class="btn btn-lg btn-primary" type="button"><i class="glyphicon glyphicon-download"></i></button></span>
              </div>
              <div id="previewTweet" class="socialPreview"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary confirmSocial" data-target="#twitterModal">Ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="instagramModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Embed an Instagram</h4>
      </div>
      <div class="modal-body">
              <h4>Copy and paste the URL of the Instagram you would like to share:</h4>
              <div class="input-group text-center">
              <input id="instagramInput" type="text" class="form-control input-lg" placeholder="Enter your URL address">
                <span class="input-group-btn"><button id="instagramPreviewButton" class="btn btn-lg btn-primary" type="button"><i class="glyphicon glyphicon-download"></i></button></span>
              </div>
              <div id="previewInstagram" class="socialPreview"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary confirmSocial" data-target="#instagramModal">Ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="facebookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Embed a Facebook post</h4>
      </div>
      <div class="modal-body">
              <h4>Copy and paste the URL of the Facebook post you would like to share:</h4>
              <div class="input-group text-center">
              <input id="facebookInput" type="text" class="form-control input-lg" placeholder="Enter your URL address">
                <span class="input-group-btn"><button id="facebookPreviewButton" class="btn btn-lg btn-primary" type="button"><i class="glyphicon glyphicon-download"></i></button></span>
              </div>
              <div id="previewFacebook" class="socialPreview">
                


              </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary confirmSocial" data-target="#facebookModal">Ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Upload a file</h4>
      </div>
      <div class="modal-body">
              <h4>Please select the file you would like to share:</h4>
              <div class="input-group text-center">
              <input id="uploadInput" type="text" class="form-control input-lg" placeholder="Enter your URL address">
                <span class="input-group-btn">
                  
                  <span class="btn btn-default btn-file">
    Browse <input type="file">
</span>

                </span>
              </div>
              <div id="previewUpload" class="socialPreview"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary confirmSocial" data-target="#uploadModal">Ok</button>
      </div>
    </div>
  </div>
</div>




</div>




<script>

var count = 8

function updates() {
  $.ajax({
          type: "POST",
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          url: "/groups/<%= @group.id %>/since",
          data: { "group": {} },
      success: function(data) {      
        return false;
      },
      error: function(data) {
        return false;
      }
    });
}

function infinite() {

    if (element_in_scroll($(".endmarker"))) {
            $(document).unbind('scroll');
            $.ajax({
                type: "POST",
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                url: "/groups/<%= @group.id %>/infinite",
                data: { "group": {"start":""+count} }, 
                success: function(data) {    
                  count += 8  
                  return false;
                }
            });
        };
}



function element_in_scroll(elem)
{
    var docViewTop = $(window).scrollTop();
    var docViewBottom = docViewTop + $(window).height();
 
    var elemTop = $(elem).offset().top;
    var elemBottom = elemTop + $(elem).height();
 
    return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
}

$(document).ready(function() {

    $(document).scroll(function(e){
      if (element_in_scroll($(".endmarker"))) {
        e.stopImmediatePropagation();
                infinite();       
        };
    });


    //setInterval("updates()", 1000);

    $(".confirmSocial").click(function() {
      $($(this).data('target')).modal('hide');
      var media = $($(this).data('target')).find('.socialPreview').html();
      if(media != "") {
        $("#post_media").val(media);
        $("#post_media_type").val("5")
      }
    });

    $("#twitterButton").click(function() {$("#twitterModal").modal();return false;});
    $("#instagramButton").click(function() {$("#instagramModal").modal();return false;});
    $("#facebookButton").click(function() {$("#facebookModal").modal();return false;});
    $("#uploadButton").click(function() {$("#uploadModal").modal();return false;});

    $("#twitterPreviewButton").click(function() {
      $("#previewTweet").html('<blockquote class="twitter-tweet" lang="en"><a href="' + $("#twitterInput").val() + '">March 10, 2014</a></blockquote>');
      $.getScript("//platform.twitter.com/widgets.js");
    });
    $("#instagramPreviewButton").click(function() {
      var match = /(instagram\.com\/p\/\w{10})/.exec($("#instagramInput").val());
      if(match) {
        $("#previewInstagram").html('<iframe src="//' + match[0] + '/embed/" width="490" height="568" frameborder="0" scrolling="no" allowtransparency="true"></iframe>');
      } else {
        $("#previewInstagram").html('<div class="alert alert-warning">Uh-oh, please check your URL!</div>');
      }
    });
    $("#facebookPreviewButton").click(function() {
      var match = /(<div id.+<\/div><\/div>)/.exec($("#facebookInput").val());
      if(match) {
        $("#previewFacebook").html(match[0]);
      } else {
        $("#previewFacebook").html('<div class="alert alert-warning">Uh-oh, please check your URL!</div>');
      }
    });


});
</script>

<!-- Show feed -->
<!-- Post box -->