<% @comments.each do |comment| %>
	if($("#comment-<%=comment.id%>").length > 0) {
		$("#comment-<%=comment.id%>").empty()
		$("#comment-<%=comment.id%>").append("<p><%=comment.content%></p>");
		<% comment.secondary_content.each do |secondary| %>
			$("#comment-<%=comment.id%>").append("<p><%=secondary%></p>")
		<% end %>

	} else {
	$('<hr/><div class="comment" style="display:none;"><div><%= image_tag comment.user.avatar(:thumb), :class => "img-circle pull-left" %></div><div><span class="comment_user"><%= comment.user.name %></span><span class="timestamp pull-right"><span class="glyphicon glyphicon-time"></span>1s</span><div id="comment-<%=comment.id%>"><p><%= comment.content %> </p></div><div class="clearfix"></div></div></div>').appendTo($("#post-<%= comment.post.id %>").find('.comments')).show();//.slideDown('fast');
	}
	if($("#post-<%= comment.post.id %>").find(".comments").height() >= 300) {
		$("#post-<%= comment.post.id %>").find(".comments_wrap").addClass("comments_wrap_overflow");
	}
	$("#post-<%= comment.post.id %>").find(".comments").scrollTop(1000000);
<% end %>

<% @posts.each do |post| %>
	var posthtml = '<%= j render post %>';
	if($("#contentcol1").height() < $("#contentcol2").height()) {
		$("#contentcol1").prepend(posthtml);
	} else {
		$("#contentcol2").prepend(posthtml);
	}
<% end %>


